<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  th:replace="~{master :: layout(_, ~{::meta}, ~{::main/content()})}">
<head>
    <meta charset="UTF-8">
    <title>Create New Ticket</title>
    <meta name="author" content="Cainarca Mattia">
    <meta name="description" content="Ticket System, form to create ticket.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<main>
    <div class="container-fluid w-50">
    <p class="fs-1 text-light fw-bold fst-italic">Fill the form to add a new ticket</p>
    <form th:action="@{/ticket/new}" method="post" enctype="multipart/form-data">
        <div class="input-group mb-3">
            <span class="input-group-text">Title</span>
            <div class="form-floating text-black">
                <input type="text" class="form-control" id="title" name="title" th:value="${ticket.title}"
                       placeholder="Title" required>
                <label for="title">Ticket Title</label>
            </div>
        </div>

        <div class="input-group mb-3">
            <label class="input-group-text" for="type">Type</label>
            <select class="form-select p-3" aria-label="Default select example" id="type" name="type" required>
                <option value="" disabled selected>Select ticket type</option>
                <option th:each="type : ${types}" th:value="${type}" th:text="${type}"></option>
            </select>
        </div>

        <div class="input-group mb-3">
            <label class="input-group-text" for="author">User</label>
            <select class="form-select p-3" id="author" name="userId" required>
                <option value="" disabled selected>Select an author</option>
                <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.username}"></option>
            </select>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Description</span>
            <div class="form-floating text-black">
            <textarea class="form-control" placeholder="Leave a comment here" id="description" name="description"
                      th:text="${ticket.description}" required style="height: 100px"></textarea>
                <label for="description">Ticket Description</label>
            </div>
        </div>

        <div class="input-group mb-3">
            <input type="file" class="form-control p-3" id="attachments" name="files" multiple>
        </div>
        <button type="submit" class="btn btn-primary fs-5" value="CreateTicket">Create Ticket</button>
    </form>
    </div>
</main>
</body>
</html>
