<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Ticket</title>
    <meta name="author" content="Cainarca Mattia">
    <meta name="description" content="Ticket System, edit ticket.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" th:src="@{/images/logo.png}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <img th:src="@{/images/logo.png}" alt="Ticket System Logo" width="75">
    <h1>Create New Ticket</h1>
</header>

<nav>
    <a th:href="@{/}">Home</a>
</nav>

<main class="main-form">
    <p class="sub-title">Fill the form to edit the ticket</p>
    <form th:action="@{/ticket/{id}/edit(id=${ticket.id})}" method="post">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" th:value="${ticket.title}" required><br><br>

        <label for="createdDate">Creation Date:</label><br>
        <input type="text" id="createdDate" th:value="${#dates.format(ticket.createdDate, 'dd-MM-yyyy HH:mm')}"
               readonly><br><br>

        <label for="type">Type:</label><br>
        <select id="type" name="type" required>
            <option value="" disabled hidden>Select Type</option>
            <option th:each="type : ${types}" th:value="${type}" th:text="${type}"
                    th:selected="${type == ticket.type}"></option>
        </select><br><br>

        <label for="user">Author:</label><br>
        <select id="user" name="userId" required>
            <option value="" disabled selected hidden>Select Author</option>
            <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.username}"
                    th:selected="${user.id == ticket.user.id}"></option>
        </select><br><br>

        <label for="status">Status:</label><br>
        <select id="status" name="status" required>
            <option value="" disabled hidden>Select Status</option>
            <option th:each="status : ${statuses}" th:value="${status}" th:text="${status}"
                    th:selected="${status == ticket.status}"></option>
        </select><br><br>

        <label for="description">Description:</label><br>
        <textarea id="description" name="description" th:text="${ticket.description}" required></textarea>

        <input type="submit" value="Edit Ticket" class="primary-button">
    </form>
</main>

<footer>
    <small>Copyleft CC-by
        <time datetime="2023">2023</time>
        by Cainarca</small>
</footer>
</body>
</html>
