<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:fragment="layout(title, metas, content)">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Cainarca Mattia">
    <meta name="description"
          content="Home page of the Ticket System, listing tickets and providing navigation to other sections.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" th:href="@{/css/style2.css}">
    <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.css}" rel="stylesheet">
    <th:block th:replace="${metas}"/>

    <title th:replace="${title}">Ticket Handler</title>
</head>
<body class="d-flex flex-column min-vh-100 text-light bg-dark">

<!-- Nav Fragment -->
<nav class="navbar bg-dark navbar-expand-lg fs-4" data-bs-theme="dark" role="navigation" aria-label="Main navigation">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">
            <img th:src="@{/images/logo.png}" alt="Ticket System Logo" width="75" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav gap-3 w-100">
                <a class="nav-link" th:href="@{/}">Home</a>
                <a class="nav-link" th:href="@{/ticket/board}">Board</a>
                <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/ticket/new}">Create a Ticket</a>
                <a id="numWatched" class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/ticket/watchlist}">Watches</a>

                <div class="text-light ms-auto d-flex flex-row" sec:authorize="!isAuthenticated()">
                    <a class="fs-5 btn btn-primary me-3 d-flex align-items-center justify-content-center"
                       sec:authorize="!isAuthenticated()" th:href="@{/register}" aria-label="Register for an account">
                        Register
                    </a>
                    <a class="fs-5 btn btn-primary me-3 d-flex align-items-center justify-content-center"
                       sec:authorize="!isAuthenticated()" th:href="@{/login}" aria-label="Login to your account">
                        Login
                    </a>
                </div>

                <div class="text-light ms-auto d-flex flex-row" sec:authorize="isAuthenticated()">
                    <span class="me-3 d-flex align-items-center">Hi,&nbsp;
                        <strong sec:authentication="name"></strong>
                    </span>
                    <a class="fs-5 btn btn-primary me-3 d-flex align-items-center justify-content-center"
                       sec:authorize="isAuthenticated()" th:href="@{/logout}" aria-label="Logout of your account">
                        Logout
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<!-- Main Fragment -->
<main class="container-fluid bg-dark text-center" role="main" aria-labelledby="main-content">
    <h1 id="main-content" class="visually-hidden">Main Content</h1>
    <th:block th:insert="${content}"></th:block>
</main>

<!-- Footer Fragment -->
<footer class="bg-dark text-light py-3 mt-auto" role="contentinfo">
    <div class="container w-75 border-top border-secondary text-center pt-2">
        <small>Copyleft CC-by 2024 by Cainarca</small>
    </div>
</footer>

<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.js}"></script>
<script th:src="@{/script/addToWatchlist.js}"></script>

</body>
</html>
