<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{master :: layout(_, ~{::meta}, ~{::main/content()})}">
<head>
    <meta charset="UTF-8">
    <title>Registration - Ticket Handler</title>
</head>
<body>

<main>
    <div class="container-fluid w-50">
        <form th:action="@{/register}" method="post" data-bs-theme="dark">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name">
                <label for="firstName">First Name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name">
                <label for="lastName">Last Name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                <label for="username">Username</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password" name="password"
                       placeholder="Password">
                <label for="password">Password</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="passwordConfirm" name="Password Confirm"
                       placeholder="Password Confirm">
                <label for="passwordConfirm">Password Confirm</label>
            </div>
        </form>
        <script th:src="@{/script/registrationConstraint.js}"></script>
    </div>
</main>

</body>
</html>