<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{master :: layout(_, ~{::meta}, ~{::main/content()})}">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Cainarca Mattia">
    <meta name="description" content="Ticket System, list ticket and provide information about it.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<main>
    <div class="container-fluid w-75">
        <p class="fs-1 fw-bold">Ticket Details</p>
        <table class="table table-dark table-hover table-bordered table-striped align-middle text-light fs-5">
            <tbody>
            <tr>
                <th scope="row" class="py-3 fs-4">Title</th>
                <td th:text="${ticket.title}"></td>
            </tr>
            <tr>
                <th scope="row" class="p-3 fs-4">Type</th>
                <td class="p-4" th:text="${ticket.type}"></td>
            </tr>
            <tr>
                <th scope="row" class="p-3 fs-4">Author</th>
                <td class="p-4" th:text="${ticket.user}"></td>
            </tr>
            <tr>
                <th scope="row" class="p-3 fs-4">Date</th>
                <td class="p-4">
                    <time th:text="${#dates.format(ticket.createdDate, 'dd-MM-yyyy HH:mm')}"></time>
                </td>
            </tr>
            <tr>
                <th scope="row" class="p-3 fs-4">Status</th>
                <td class="p-4" th:text="${ticket.status}"></td>
            </tr>
            <tr>
                <th scope="row" class="p-3 fs-4">Description</th>
                <td class="p-4" th:text="${ticket.description}"></td>
            </tr>
            <tr>
                <th scope="row" class="p-3 fs-4">Attachments</th>
                <td class="p-4">
                    <div th:if="${ticket.attachments == null || ticket.attachments.isEmpty()}" class="text-center">
                        There are no attachments for this ticket
                    </div>
                    <div th:if="${ticket.attachments != null && !ticket.attachments.isEmpty()}"
                         class="d-flex flex-column">
                        <div th:each="attachment : ${ticket.attachments}" class="d-flex w-100 p-2 align-items-center">
                        <span class="flex-grow-1 text-decoration-none fw-semibold text-start"
                              th:text="${attachment.name}"></span>

                            <span class="d-none d-lg-inline text-center me-4">
                            (<span th:text="${attachment.contentType}"></span>)
                            - <span th:text="${attachment.getReadableSize()}"></span>
                        </span>

                            <a th:href="@{'/ticket/'+${ticket.id}+'/attachment/'+${attachment.name}}" target="_blank"
                               class="btn btn-primary btn-sm me-1">
                                <i class="bi bi-eye"></i>
                            </a>

                            <a th:href="@{'/ticket/'+${ticket.id}+'/attachment/'+${attachment.name}}"
                               class="btn btn-primary btn-sm" download>
                                <i class="bi bi-download"></i>
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-evenly my-3">
            <a type="button" class="btn btn-primary fs-5" sec:authorize="hasRole('ADMIN')"
               th:href="@{/ticket/{id}/edit(id=${ticket.id})}">Edit
                Ticket</a>
            <a type="button" class="btn btn-primary fs-5" sec:authorize="hasRole('ADMIN')"
               th:href="@{/ticket/{id}/delete(id=${ticket.id})}">Delete
                Ticket</a>
        </div>
        <a class="fs-5 btn btn-primary " th:href="@{/}">Back to Ticket List</a>
    </div>
</main>

</body>
</html>